<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>

<body>

    <a class="" href="/register" role="button">Register</a>
    <a class="" href="/login" role="button">Login</a>

</body>

</html>