<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css" />
    <script src="/client.js" defer></script>
</head>

<body>
    <main class="container">
        <h1>
            Food Nutrition Calculator
        </h1>
        <h2 class="">
            Recipe
        </h2>
        <ul id="itemList"></ul>
        <input type="text" id="inputText" placeholder="1 oz chicken breast">
        <button class="width: 30%" type="button" onclick="addItem()">Add to List</button>
        <button id="sent" onclick="submitRecipe()">Get recipe nutrition</button>
        <div id="nutritionInfo"></div>
        <a href="/">Log out</a>
    </main>
</body>

</html>