<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>

<body>

    <h1 id="h1">

        <%= content %>
    </h1>



    <input type="text" id="inputText" placeholder="Type something...">
    <button onclick="addItem()">Add to List</button>

    <!-- <form method="POST" action="/sent"> -->
    <button id="sent">done</button>
    <!-- </form> -->
    <ul id="itemList"></ul>

    <script src="/client.js"></script>

    <script>

    </script>

</body>

</html>