<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>

<body>
    <form action="/register" method="POST">
        <div class="">
            <label for="email">Email</label>
            <input type="email" class="" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="" name="password">
        </div>
        <button type="submit" class="">Register</button>
    </form>
</body>

</html>